<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <CloudWatch name="CloudWatch" logGroup="MyAppLogs" logStream="MyAppStream">
            <AWSRegion>eu-north-1</AWSRegion>
            <RetentionPeriod>14</RetentionPeriod>
        </CloudWatch>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="CloudWatch"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
